node_modules/
dist/
dist-release/
.DS_Store
*.exe
*.exe~
*~
*.log
.env
backend/config.yaml
uploads/
backend/tdy-server
backend/tdy-server.exe
backend/uploads/
.logs/
.pids/
.idea/
.vscode/
backend/tmp/
frontend/dist/
